openapi: 3.1.0
info:
  title: AONIK API
  version: 1.0.0
  description: >
    The AONIK API lets you build on top of a modular financial platform that
    powers bill payments, remittances, and billing.


    ## Base URL


    ```

    https://api.aonik.io

    ```


    ## Authentication


    All API requests require a Bearer token in the `Authorization` header.


    ```

    Authorization: Bearer YOUR_ACCESS_TOKEN

    ```


    You can obtain an access token by calling the [Get Token](/api/get-token) endpoint with your credentials, or through the OAuth 2.0 authorization code flow via your configured auth provider (Auth0 or Azure AD).


    ## Pagination


    List endpoints return paginated results. Use `page` and `pageSize` query parameters to navigate through results. Responses include pagination metadata.


    ## Errors


    The API uses standard HTTP status codes. Error responses include a `message` field with a human-readable description.


    | Status | Description |

    |--------|-------------|

    | 400 | Bad request — check your parameters |

    | 401 | Unauthorized — invalid or missing token |

    | 403 | Forbidden — insufficient permissions |

    | 404 | Not found |

    | 409 | Conflict — resource already exists |

    | 422 | Validation error |

    | 500 | Server error |
servers:
  - url: https://api.aonik.io
    description: Production API
security:
  - bearerAuth: []
tags:
  - name: Orders
    description: Create and manage bill payment orders. An order captures a
      requested financial service.
  - name: Payments
    description: Create payment intents to fund orders.
  - name: Billing
    description: Create and manage invoices.
  - name: Ledger
    description: Double-entry accounting ledger. The source of financial truth.
  - name: Catalog
    description: Browse billers, services, countries, and currencies.
  - name: Pricing
    description: Get pricing quotes and manage FX rates.
  - name: Partners
    description: Manage financial service partners and their configurations.
  - name: Identity
    description: Authentication, user profiles, and verification.
  - name: Registration
    description: User registration and onboarding.
  - name: Tenants
    description: Tenant management (admin).
  - name: Users
    description: User management (admin).
  - name: Roles
    description: Role and permission management (admin).
  - name: Compliance
    description: Document verification and compliance management.
  - name: AI
    description: Chat with AI agents, manage threads, and configure agents.
  - name: CMS
    description: Content management for in-app content blocks.
paths:
  /orders:
    get:
      operationId: listOrders
      tags:
        - Orders
      summary: List orders
      description: Retrieve a paginated list of orders.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum:
              - draft
              - submitted
              - processing
              - completed
              - cancelled
        - name: orderType
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: A paginated list of orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrderListItem"
  /orders/bill-payments:
    post:
      operationId: createBillPaymentOrder
      tags:
        - Orders
      summary: Create a bill payment order
      description: Create a new order for paying one or more bills.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBillPaymentOrderRequest"
      responses:
        "201":
          description: The created order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillPaymentOrderResponse"
  "/orders/{orderId}":
    get:
      operationId: getOrder
      tags:
        - Orders
      summary: Retrieve an order
      description: Get a single order with all its items.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillPaymentOrderResponse"
        "404":
          description: Order not found.
  "/orders/{orderId}/submit":
    post:
      operationId: submitOrder
      tags:
        - Orders
      summary: Submit an order
      description: Submit a draft order for processing. The order must be fully funded
        before submission.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Order submitted.
  "/orders/{orderId}/cancel":
    post:
      operationId: cancelOrder
      tags:
        - Orders
      summary: Cancel an order
      description: Cancel a draft or submitted order.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Order cancelled.
  "/orders/{orderId}/items/bill-payments":
    post:
      operationId: addOrderItem
      tags:
        - Orders
      summary: Add an item to an order
      description: Add a bill payment item to an existing draft order.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBillPaymentItemRequest"
      responses:
        "201":
          description: Item added.
  "/orders/{orderId}/items/{orderItemId}":
    put:
      operationId: updateOrderItem
      tags:
        - Orders
      summary: Update an order item
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: orderItemId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBillPaymentItemRequest"
      responses:
        "200":
          description: Item updated.
    delete:
      operationId: removeOrderItem
      tags:
        - Orders
      summary: Remove an order item
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: orderItemId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Item removed.
  /payments/intents:
    post:
      operationId: createPaymentIntent
      tags:
        - Payments
      summary: Create a payment intent
      description: Create a payment intent to fund an order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentIntentRequest"
      responses:
        "201":
          description: The created payment intent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentIntentResponse"
  "/payments/intents/{id}":
    get:
      operationId: getPaymentIntent
      tags:
        - Payments
      summary: Retrieve a payment intent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The payment intent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentIntentResponse"
  "/payments/intents/{id}/capture":
    post:
      operationId: capturePayment
      tags:
        - Payments
      summary: Capture a payment
      description: Capture a previously authorized payment intent.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Payment captured.
  "/payments/intents/{id}/cancel":
    post:
      operationId: cancelPayment
      tags:
        - Payments
      summary: Cancel a payment
      description: Cancel a payment intent that has not been captured.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Payment cancelled.
  /billing/invoices:
    post:
      operationId: createInvoice
      tags:
        - Billing
      summary: Create an invoice
      description: Create a new invoice for a customer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRequest"
      responses:
        "201":
          description: The created invoice.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
  "/billing/invoices/{id}":
    get:
      operationId: getInvoice
      tags:
        - Billing
      summary: Retrieve an invoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The invoice.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
  /ledger:
    get:
      operationId: listLedgers
      tags:
        - Ledger
      summary: List ledgers
      description: Retrieve all ledgers for the current tenant.
      responses:
        "200":
          description: A list of ledgers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LedgerResponse"
    post:
      operationId: createLedger
      tags:
        - Ledger
      summary: Create a ledger
      description: Create a new double-entry ledger.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                baseCurrency:
                  type: string
                  description: The base currency for the ledger (e.g. USD, NGN).
              required:
                - baseCurrency
      responses:
        "201":
          description: The created ledger.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerResponse"
  /ledger/accounts:
    get:
      operationId: listLedgerAccounts
      tags:
        - Ledger
      summary: List ledger accounts
      description: Retrieve all accounts across ledgers.
      responses:
        "200":
          description: A list of ledger accounts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LedgerAccountResponse"
    post:
      operationId: createLedgerAccount
      tags:
        - Ledger
      summary: Create a ledger account
      description: Create a new account in a ledger.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLedgerAccountRequest"
      responses:
        "201":
          description: The created account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerAccountResponse"
  /ledger/journal-entries:
    get:
      operationId: listJournalEntries
      tags:
        - Ledger
      summary: List journal entries
      description: Retrieve journal entries. Every financial transaction is recorded
        as a balanced journal entry.
      responses:
        "200":
          description: A list of journal entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/JournalEntryResponse"
    post:
      operationId: addJournalEntry
      tags:
        - Ledger
      summary: Add a journal entry
      description: Record a new journal entry. Debits must equal credits.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddJournalEntryRequest"
      responses:
        "201":
          description: The created journal entry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JournalEntryResponse"
  /catalog/countries:
    get:
      operationId: listCountries
      tags:
        - Catalog
      summary: List countries
      description: Get all supported countries.
      responses:
        "200":
          description: A list of countries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    type: array
                    items:
                      type: object
                      properties:
                        countryCode:
                          type: string
                        name:
                          type: string
  /catalog/currencies:
    get:
      operationId: listCurrencies
      tags:
        - Catalog
      summary: List currencies
      description: Get all supported currencies.
      responses:
        "200":
          description: A list of currencies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  currencies:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                  defaultCurrencyCode:
                    type: string
  /catalog/billers/categories:
    get:
      operationId: listBillerCategories
      tags:
        - Catalog
      summary: List biller categories
      description: Get all biller categories (e.g. utilities, telecoms, insurance).
      parameters:
        - name: countryCode
          in: query
          schema:
            type: string
          description: Filter by country.
      responses:
        "200":
          description: A list of categories.
  /catalog/billers:
    get:
      operationId: listBillers
      tags:
        - Catalog
      summary: List billers
      description: Get a paginated list of billers.
      parameters:
        - name: countryCode
          in: query
          schema:
            type: string
        - name: categoryId
          in: query
          schema:
            type: string
            format: uuid
        - name: search
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: A paginated list of billers.
  "/catalog/billers/{billerId}":
    get:
      operationId: getBiller
      tags:
        - Catalog
      summary: Retrieve a biller
      description: Get details of a biller including service count and support info.
      parameters:
        - name: billerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Biller details.
  "/catalog/billers/{billerId}/services":
    get:
      operationId: listBillerServices
      tags:
        - Catalog
      summary: List biller services
      description: Get the services offered by a biller.
      parameters:
        - name: billerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: A list of services.
  "/catalog/billers/{billerId}/services/{serviceId}":
    get:
      operationId: getBillerService
      tags:
        - Catalog
      summary: Retrieve a biller service
      description: Get full details of a biller service including required fields and
        validation.
      parameters:
        - name: billerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Service details with required fields.
  "/catalog/billers/{billerId}/services/{serviceId}/validate":
    post:
      operationId: validateServiceFields
      tags:
        - Catalog
      summary: Validate service fields
      description: Validate customer-provided fields for a service before placing an order.
      parameters:
        - name: billerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
      responses:
        "200":
          description: Validation result.
  /pricing/quote:
    post:
      operationId: getPricingQuote
      tags:
        - Pricing
      summary: Get a pricing quote
      description: Get a pricing quote including exchange rate, fees, and total cost
        for a transaction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PricingQuoteRequest"
      responses:
        "200":
          description: The pricing quote.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PricingQuoteResponse"
  /fx-quotes:
    get:
      operationId: listFxQuotes
      tags:
        - Pricing
      summary: List FX quotes
      description: List foreign exchange rate quotes.
      responses:
        "200":
          description: A list of FX quotes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FxQuoteResponse"
    post:
      operationId: createFxQuote
      tags:
        - Pricing
      summary: Create an FX quote
      description: Create a new FX rate quote.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFxQuoteRequest"
      responses:
        "201":
          description: The created FX quote.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FxQuoteResponse"
  "/fx-quotes/{id}":
    get:
      operationId: getFxQuote
      tags:
        - Pricing
      summary: Retrieve an FX quote
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The FX quote.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FxQuoteResponse"
    put:
      operationId: updateFxQuote
      tags:
        - Pricing
      summary: Update an FX quote
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFxQuoteRequest"
      responses:
        "200":
          description: FX quote updated.
    delete:
      operationId: deleteFxQuote
      tags:
        - Pricing
      summary: Delete an FX quote
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: FX quote deleted.
  /admin/partners:
    get:
      operationId: listPartners
      tags:
        - Partners
      summary: List partners
      description: Get a paginated list of financial service partners.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
        - name: countryCode
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: A list of partners.
    post:
      operationId: createPartner
      tags:
        - Partners
      summary: Create a partner
      description: Register a new financial service partner.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                status:
                  type: string
                capabilitiesJson:
                  type: string
                operatingHoursJson:
                  type: string
              required:
                - name
      responses:
        "201":
          description: The created partner.
  "/admin/partners/{partnerId}":
    get:
      operationId: getPartner
      tags:
        - Partners
      summary: Retrieve a partner
      parameters:
        - name: partnerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Partner details.
    patch:
      operationId: updatePartner
      tags:
        - Partners
      summary: Update a partner
      parameters:
        - name: partnerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                status:
                  type: string
                capabilitiesJson:
                  type: string
                operatingHoursJson:
                  type: string
      responses:
        "200":
          description: Partner updated.
    delete:
      operationId: deletePartner
      tags:
        - Partners
      summary: Delete a partner
      parameters:
        - name: partnerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Partner deleted.
  /auth/token:
    post:
      operationId: getToken
      tags:
        - Identity
      summary: Get token
      description: Authenticate and receive an access token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRequest"
      responses:
        "200":
          description: The access token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
  /v1/me:
    get:
      operationId: getCurrentUser
      tags:
        - Identity
      summary: Get current user
      description: Get the authenticated user's basic info.
      responses:
        "200":
          description: The current user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUserResponse"
  /identity/userinfo:
    get:
      operationId: getUserInfo
      tags:
        - Identity
      summary: Get user info
      description: Get detailed user information including roles.
      responses:
        "200":
          description: User info.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInfoResponse"
  /profiles/customers/me:
    get:
      operationId: getMyProfile
      tags:
        - Identity
      summary: Get my profile
      description: Get the authenticated user's customer profile.
      responses:
        "200":
          description: Customer profile.
    put:
      operationId: updateMyProfile
      tags:
        - Identity
      summary: Update my profile
      description: Update the authenticated user's profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                phone:
                  type: string
      responses:
        "200":
          description: Profile updated.
  /identity/password/forgot:
    post:
      operationId: forgotPassword
      tags:
        - Identity
      summary: Request password reset
      description: Send a password reset email.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                tenantId:
                  type: string
                  format: uuid
              required:
                - email
                - tenantId
      responses:
        "200":
          description: Reset email sent.
  /v1/verifications/email/start:
    post:
      operationId: startEmailVerification
      tags:
        - Identity
      summary: Start email verification
      description: Send a verification code to an email address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
              required:
                - email
      responses:
        "200":
          description: Verification code sent.
  /v1/verifications/email/confirm:
    post:
      operationId: confirmEmailVerification
      tags:
        - Identity
      summary: Confirm email verification
      description: Confirm an email address with the verification code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                code:
                  type: string
              required:
                - email
                - code
      responses:
        "200":
          description: Email verified.
  /v1/registrations/individual:
    post:
      operationId: registerIndividual
      tags:
        - Registration
      summary: Register an individual
      description: Register a new individual user account.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterIndividualRequest"
      responses:
        "201":
          description: Registration successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationResult"
  /v1/onboarding/me:
    get:
      operationId: getOnboardingStatus
      tags:
        - Registration
      summary: Get onboarding status
      description: Get the current user's onboarding progress and next steps.
      responses:
        "200":
          description: Onboarding status.
  /admin/tenants:
    get:
      operationId: listTenants
      tags:
        - Tenants
      summary: List tenants
      description: List all tenants. Requires admin permissions.
      responses:
        "200":
          description: A list of tenants.
    post:
      operationId: createTenant
      tags:
        - Tenants
      summary: Create a tenant
      description: Create a new tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantRequest"
      responses:
        "201":
          description: The created tenant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantResponse"
  "/admin/tenants/{tenantId}":
    get:
      operationId: getTenant
      tags:
        - Tenants
      summary: Retrieve a tenant
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The tenant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantResponse"
    patch:
      operationId: updateTenant
      tags:
        - Tenants
      summary: Update a tenant
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                logoUrl:
                  type: string
                industry:
                  type: string
                website:
                  type: string
                contactEmail:
                  type: string
      responses:
        "200":
          description: Tenant updated.
  "/admin/tenants/{tenantId}/activate":
    post:
      operationId: activateTenant
      tags:
        - Tenants
      summary: Activate a tenant
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Tenant activated.
  "/admin/tenants/{tenantId}/deactivate":
    post:
      operationId: deactivateTenant
      tags:
        - Tenants
      summary: Deactivate a tenant
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Tenant deactivated.
  "/admin/tenants/{tenantId}/provision":
    post:
      operationId: provisionTenant
      tags:
        - Tenants
      summary: Provision a tenant
      description: Provision a tenant with default data, roles, and settings.
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Tenant provisioned.
  /admin/users:
    get:
      operationId: listUsers
      tags:
        - Users
      summary: List users
      description: List all users in the tenant.
      responses:
        "200":
          description: A list of users.
  /admin/users/invite:
    post:
      operationId: inviteUser
      tags:
        - Users
      summary: Invite a user
      description: Invite a new user to the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                firstName:
                  type: string
                lastName:
                  type: string
                roleIds:
                  type: array
                  items:
                    type: string
                    format: uuid
              required:
                - email
                - firstName
                - lastName
      responses:
        "201":
          description: User invited.
  "/admin/users/{userId}":
    get:
      operationId: getUser
      tags:
        - Users
      summary: Retrieve a user
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: User details.
  "/admin/users/{userId}/activate":
    post:
      operationId: activateUser
      tags:
        - Users
      summary: Activate a user
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: User activated.
  "/admin/users/{userId}/deactivate":
    post:
      operationId: deactivateUser
      tags:
        - Users
      summary: Deactivate a user
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: User deactivated.
  "/admin/users/{userId}/roles":
    put:
      operationId: updateUserRoles
      tags:
        - Users
      summary: Update user roles
      description: Set the roles for a user.
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                roleIds:
                  type: array
                  items:
                    type: string
                    format: uuid
              required:
                - roleIds
      responses:
        "200":
          description: Roles updated.
  /admin/roles:
    get:
      operationId: listRoles
      tags:
        - Roles
      summary: List roles
      description: List all roles in the tenant.
      responses:
        "200":
          description: A list of roles.
    post:
      operationId: createRole
      tags:
        - Roles
      summary: Create a role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
              required:
                - name
      responses:
        "201":
          description: Role created.
  "/admin/roles/{roleId}":
    get:
      operationId: getRole
      tags:
        - Roles
      summary: Retrieve a role
      parameters:
        - name: roleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The role.
    put:
      operationId: updateRole
      tags:
        - Roles
      summary: Update a role
      parameters:
        - name: roleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        "200":
          description: Role updated.
    delete:
      operationId: deleteRole
      tags:
        - Roles
      summary: Delete a role
      parameters:
        - name: roleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Role deleted.
  "/admin/roles/{roleId}/permissions":
    put:
      operationId: updateRolePermissions
      tags:
        - Roles
      summary: Update role permissions
      description: Set the permissions for a role.
      parameters:
        - name: roleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                permissionIds:
                  type: array
                  items:
                    type: string
                    format: uuid
              required:
                - permissionIds
      responses:
        "200":
          description: Permissions updated.
  /admin/permissions:
    get:
      operationId: listPermissions
      tags:
        - Roles
      summary: List permissions
      description: List all available permissions.
      responses:
        "200":
          description: A list of permissions.
  /compliance/documents:
    get:
      operationId: listDocuments
      tags:
        - Compliance
      summary: List compliance documents
      description: List all compliance documents.
      responses:
        "200":
          description: A list of documents.
    post:
      operationId: createDocument
      tags:
        - Compliance
      summary: Create a compliance document
      description: Create a new compliance document record (e.g. ID, proof of address).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDocumentRequest"
      responses:
        "201":
          description: Document created.
  "/compliance/documents/{id}":
    get:
      operationId: getDocument
      tags:
        - Compliance
      summary: Retrieve a compliance document
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The document.
  "/compliance/documents/{id}/files/upload":
    post:
      operationId: uploadDocumentFile
      tags:
        - Compliance
      summary: Upload a document file
      description: Upload a file (photo, scan) for a compliance document.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "201":
          description: File uploaded.
  /ai/chat:
    post:
      operationId: chat
      tags:
        - AI
      summary: Chat with an agent
      description: Send a message to the AI orchestrator agent and get a response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatRequest"
      responses:
        "200":
          description: The agent response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatResponse"
  /ai/threads:
    get:
      operationId: listChatThreads
      tags:
        - AI
      summary: List chat threads
      description: List all chat conversation threads.
      responses:
        "200":
          description: A list of threads.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ChatThreadSummary"
  "/ai/threads/{threadId}":
    get:
      operationId: getChatThread
      tags:
        - AI
      summary: Retrieve a chat thread
      description: Get a chat thread with all its messages.
      parameters:
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The thread with messages.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatThreadDetail"
    delete:
      operationId: archiveChatThread
      tags:
        - AI
      summary: Archive a chat thread
      parameters:
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Thread archived.
  /ai/agents:
    get:
      operationId: listAgents
      tags:
        - AI
      summary: List agents
      description: List all available AI agents.
      responses:
        "200":
          description: A list of agents.
  "/ai/agents/configurations/{name}":
    get:
      operationId: getAgentConfiguration
      tags:
        - AI
      summary: Get agent configuration
      description: Get the configuration for an agent by name.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The agent configuration.
    put:
      operationId: upsertAgentConfiguration
      tags:
        - AI
      summary: Update agent configuration
      description: Create or update an agent's configuration.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                instructionsText:
                  type: string
                riskTier:
                  type: string
                  enum:
                    - low
                    - medium
                    - high
                isActive:
                  type: boolean
      responses:
        "200":
          description: Configuration saved.
    delete:
      operationId: deleteAgentConfiguration
      tags:
        - AI
      summary: Delete agent configuration
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Configuration deleted.
  /ai/workflows/run:
    post:
      operationId: runWorkflow
      tags:
        - AI
      summary: Run a workflow
      description: Execute an AI workflow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workflowName:
                  type: string
                parameters:
                  type: object
                  additionalProperties: true
              required:
                - workflowName
      responses:
        "200":
          description: Workflow result.
  /cms/content-blocks:
    get:
      operationId: listContentBlocks
      tags:
        - CMS
      summary: List content blocks
      description: List all content blocks.
      responses:
        "200":
          description: A list of content blocks.
    post:
      operationId: createContentBlock
      tags:
        - CMS
      summary: Create a content block
      description: Create a new content block for in-app content.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                body:
                  type: string
                type:
                  type: string
                placement:
                  type: string
              required:
                - title
                - body
                - type
      responses:
        "201":
          description: Content block created.
  "/cms/content-blocks/{id}":
    get:
      operationId: getContentBlock
      tags:
        - CMS
      summary: Retrieve a content block
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The content block.
    put:
      operationId: updateContentBlock
      tags:
        - CMS
      summary: Update a content block
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                body:
                  type: string
                type:
                  type: string
                placement:
                  type: string
      responses:
        "200":
          description: Content block updated.
    delete:
      operationId: deleteContentBlock
      tags:
        - CMS
      summary: Delete a content block
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Content block deleted.
  /cms/content/active:
    get:
      operationId: getActiveContent
      tags:
        - CMS
      summary: Get active content
      description: Get all currently active content blocks for display.
      responses:
        "200":
          description: Active content blocks.
  /health:
    get:
      operationId: healthCheck
      tags:
        - Identity
      summary: Health check
      description: Check API health status.
      security: []
      responses:
        "200":
          description: API is healthy.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Pass your access token in the Authorization header.
  schemas:
    CreateBillPaymentOrderRequest:
      type: object
      properties:
        payerPartyId:
          type: string
          format: uuid
          description: The party placing the order.
        originCountry:
          type: string
          example: US
        originCurrency:
          type: string
          example: USD
        purposeCode:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        idempotencyKey:
          type: string
          nullable: true
          description: A unique key to prevent duplicate orders.
        items:
          type: array
          items:
            $ref: "#/components/schemas/CreateBillPaymentItemRequest"
      required:
        - payerPartyId
        - originCountry
        - originCurrency
    CreateBillPaymentItemRequest:
      type: object
      properties:
        billerId:
          type: string
          format: uuid
        serviceId:
          type: string
          format: uuid
        serviceCode:
          type: string
        serviceFieldValues:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of service-specific fields.
        destinationAmount:
          type: number
          format: decimal
        destinationCurrency:
          type: string
        destinationCountry:
          type: string
        pricingQuoteId:
          type: string
          format: uuid
      required:
        - billerId
        - serviceId
        - serviceCode
        - serviceFieldValues
        - destinationCurrency
        - destinationCountry
        - pricingQuoteId
    UpdateBillPaymentItemRequest:
      type: object
      properties:
        serviceFieldValues:
          type: object
          additionalProperties:
            type: string
        originAmount:
          type: number
          format: decimal
        destinationAmount:
          type: number
          format: decimal
        pricingQuoteId:
          type: string
          format: uuid
        purposeCode:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
    BillPaymentOrderResponse:
      type: object
      properties:
        orderId:
          type: string
          format: uuid
        orderType:
          type: string
          example: bill_payment
        status:
          type: string
          example: draft
        payerPartyId:
          type: string
          format: uuid
        payerName:
          type: string
        originCountry:
          type: string
        originCurrency:
          type: string
        totalAmountIn:
          type: number
          format: decimal
        totalFeesAmount:
          type: number
          format: decimal
        totalAmountOut:
          type: number
          format: decimal
        createdAt:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: "#/components/schemas/OrderItemResponse"
    OrderItemResponse:
      type: object
      properties:
        orderItemId:
          type: string
          format: uuid
        billerName:
          type: string
        serviceName:
          type: string
        receiverName:
          type: string
        amountIn:
          type: number
          format: decimal
        currencyIn:
          type: string
        amountOut:
          type: number
          format: decimal
        currencyOut:
          type: string
        feesTotal:
          type: number
          format: decimal
        exchangeRate:
          type: number
          format: decimal
        status:
          type: string
    OrderListItem:
      type: object
      properties:
        orderId:
          type: string
          format: uuid
        orderType:
          type: string
        status:
          type: string
        payerName:
          type: string
        originCurrency:
          type: string
        totalAmountIn:
          type: number
          format: decimal
        createdAt:
          type: string
          format: date-time
    CreatePaymentIntentRequest:
      type: object
      properties:
        amount:
          type: number
          format: decimal
          description: The payment amount.
          example: 100
        currency:
          type: string
          example: USD
        reference:
          type: string
          description: A reference for the payment.
        orderId:
          type: string
          format: uuid
          description: The order being paid for.
        invoiceId:
          type: string
          format: uuid
          nullable: true
      required:
        - amount
        - currency
        - reference
        - orderId
    PaymentIntentResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orderId:
          type: string
          format: uuid
        invoiceId:
          type: string
          format: uuid
          nullable: true
        amount:
          type: number
          format: decimal
        currency:
          type: string
        status:
          type: string
          example: pending
        reference:
          type: string
        createdUtc:
          type: string
          format: date-time
    CreateInvoiceRequest:
      type: object
      properties:
        customerId:
          type: string
          format: uuid
        invoiceNumber:
          type: string
          example: INV-001
        currency:
          type: string
          example: USD
        dueUtc:
          type: string
          format: date-time
        lineItems:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
                example: Consulting services
              quantity:
                type: number
                format: decimal
                example: 10
              unitPrice:
                type: number
                format: decimal
                example: 150
            required:
              - description
              - quantity
              - unitPrice
      required:
        - customerId
        - invoiceNumber
        - currency
        - dueUtc
        - lineItems
    InvoiceResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        invoiceNumber:
          type: string
        currency:
          type: string
        totalAmount:
          type: number
          format: decimal
        status:
          type: string
          example: draft
        issuedUtc:
          type: string
          format: date-time
        dueUtc:
          type: string
          format: date-time
        lineItems:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              description:
                type: string
              quantity:
                type: number
                format: decimal
              unitPrice:
                type: number
                format: decimal
              lineTotal:
                type: number
                format: decimal
    LedgerResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        baseCurrency:
          type: string
        createdUtc:
          type: string
          format: date-time
    CreateLedgerAccountRequest:
      type: object
      properties:
        ledgerId:
          type: string
          format: uuid
        name:
          type: string
          example: Cash
        code:
          type: string
          example: "1000"
        accountType:
          type: string
          enum:
            - asset
            - liability
            - equity
            - revenue
            - expense
          example: asset
      required:
        - ledgerId
        - name
        - code
        - accountType
    LedgerAccountResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ledgerId:
          type: string
          format: uuid
        name:
          type: string
        code:
          type: string
        accountType:
          type: string
        currency:
          type: string
        createdUtc:
          type: string
          format: date-time
    AddJournalEntryRequest:
      type: object
      properties:
        ledgerId:
          type: string
          format: uuid
        reference:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        lines:
          type: array
          items:
            type: object
            properties:
              accountId:
                type: string
                format: uuid
              direction:
                type: string
                enum:
                  - debit
                  - credit
              amount:
                type: number
                format: decimal
              currency:
                type: string
              narration:
                type: string
                nullable: true
            required:
              - accountId
              - direction
              - amount
              - currency
      required:
        - ledgerId
        - lines
    JournalEntryResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ledgerId:
          type: string
          format: uuid
        entryUtc:
          type: string
          format: date-time
        status:
          type: string
        reference:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        lines:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              accountId:
                type: string
                format: uuid
              direction:
                type: string
              amount:
                type: number
                format: decimal
              currency:
                type: string
              narration:
                type: string
                nullable: true
    PricingQuoteRequest:
      type: object
      properties:
        originCurrency:
          type: string
          example: USD
        destinationCurrency:
          type: string
          example: NGN
        originCountry:
          type: string
          example: US
        destinationCountry:
          type: string
          example: NG
        serviceCode:
          type: string
        destinationAmount:
          type: number
          format: decimal
          nullable: true
          description: Specify either destinationAmount or originAmount.
        originAmount:
          type: number
          format: decimal
          nullable: true
      required:
        - originCurrency
        - destinationCurrency
        - originCountry
        - destinationCountry
        - serviceCode
    PricingQuoteResponse:
      type: object
      properties:
        pricingQuoteId:
          type: string
          format: uuid
        exchangeRate:
          type: number
          format: decimal
        feesTotal:
          type: number
          format: decimal
        totalAmount:
          type: number
          format: decimal
        originAmount:
          type: number
          format: decimal
        destinationAmount:
          type: number
          format: decimal
        feeBreakdown:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              description:
                type: string
              amount:
                type: number
                format: decimal
              currency:
                type: string
    CreateFxQuoteRequest:
      type: object
      properties:
        baseCurrency:
          type: string
          example: USD
        targetCurrency:
          type: string
          example: NGN
        rate:
          type: number
          format: decimal
          example: 1550
        expiresAt:
          type: string
          format: date-time
        provider:
          type: string
          nullable: true
      required:
        - baseCurrency
        - targetCurrency
        - rate
        - expiresAt
    UpdateFxQuoteRequest:
      type: object
      properties:
        rate:
          type: number
          format: decimal
        expiresAt:
          type: string
          format: date-time
        provider:
          type: string
          nullable: true
      required:
        - rate
        - expiresAt
    FxQuoteResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        baseCurrency:
          type: string
        targetCurrency:
          type: string
        rate:
          type: number
          format: decimal
        expiresAt:
          type: string
          format: date-time
        provider:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    TokenRequest:
      type: object
      properties:
        grantType:
          type: string
          description: "The grant type: password, authorization_code, or refresh_token."
          example: password
        clientId:
          type: string
        username:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
        scope:
          type: string
          nullable: true
        refreshToken:
          type: string
          nullable: true
      required:
        - grantType
        - clientId
    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
          nullable: true
        expiresIn:
          type: integer
          description: Token lifetime in seconds.
          example: 3600
        tokenType:
          type: string
          example: Bearer
    CurrentUserResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        email:
          type: string
        status:
          type: string
        displayName:
          type: string
    UserInfoResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        roles:
          type: array
          items:
            type: string
        tenantId:
          type: string
          format: uuid
        partyId:
          type: string
          format: uuid
    RegisterIndividualRequest:
      type: object
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        email:
          type: string
          format: email
          example: john@example.com
        phone:
          type: string
          nullable: true
        password:
          type: string
          format: password
        tenantId:
          type: string
          format: uuid
          nullable: true
        registrationCountry:
          type: string
          nullable: true
      required:
        - firstName
        - lastName
        - email
        - password
    RegistrationResult:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        partyId:
          type: string
          format: uuid
    CreateTenantRequest:
      type: object
      properties:
        name:
          type: string
          example: Acme Corp
        environment:
          type: string
          enum:
            - development
            - staging
            - production
        defaultCurrency:
          type: string
          example: USD
        supportedCountries:
          type: array
          items:
            type: string
          example:
            - US
            - NG
            - GB
        supportedCurrencies:
          type: array
          items:
            type: string
          nullable: true
      required:
        - name
        - environment
        - defaultCurrency
        - supportedCountries
    TenantResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        name:
          type: string
        environment:
          type: string
        defaultCurrency:
          type: string
        supportedCountries:
          type: array
          items:
            type: string
        status:
          type: string
        isSetupComplete:
          type: boolean
        createdAt:
          type: string
          format: date-time
    CreateDocumentRequest:
      type: object
      properties:
        ownerPartyId:
          type: string
          format: uuid
        documentType:
          type: string
          description: "Type of document: national_id, passport, drivers_license,
            proof_of_address, etc."
          example: passport
        issuedOn:
          type: string
          format: date-time
          nullable: true
        expiresOn:
          type: string
          format: date-time
          nullable: true
        issuerName:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
        referenceNumber:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
      required:
        - ownerPartyId
        - documentType
    ChatRequest:
      type: object
      properties:
        message:
          type: string
          description: Your message to the agent.
          example: What were my top expenses last month?
        sessionId:
          type: string
          nullable: true
          description: Continue an existing session.
        threadId:
          type: string
          nullable: true
          description: Continue an existing thread.
      required:
        - message
    ChatResponse:
      type: object
      properties:
        message:
          type: string
          description: The agent's response.
        sessionId:
          type: string
        agentName:
          type: string
          nullable: true
        threadId:
          type: string
          nullable: true
        threadTitle:
          type: string
          nullable: true
    ChatThreadSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        status:
          type: string
        agentName:
          type: string
          nullable: true
        lastMessageAt:
          type: string
          format: date-time
          nullable: true
        messageCount:
          type: integer
        createdAt:
          type: string
          format: date-time
    ChatThreadDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        status:
          type: string
        agentName:
          type: string
          nullable: true
        messageCount:
          type: integer
        createdAt:
          type: string
          format: date-time
        messages:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              role:
                type: string
                enum:
                  - user
                  - assistant
                  - system
              content:
                type: string
              agentName:
                type: string
                nullable: true
              createdAt:
                type: string
                format: date-time
